    body {
        font-family     : Arial, sans-serif;
        text-align      : left;
    }
    #gericht {
        font-size       : 1.5em;
        margin-bottom   : 20px;
    }
    .rotate {
        animation       : rotate 2s ease-in-out;
    }
    @keyframes rotate {
        0% { transform  : rotateX(0deg); }
        50% { transform : rotateX(720deg); }
        100% { transform: rotateX(0deg); }
    }
    @keyframes rainbow {
        0% { color      : rgb(255, 0, 0); }     /* Red */
        16.67% { color  : rgb(255, 127, 0); }  /* Orange */
        33.33% { color  : rgb(255, 255, 0); }  /* Yellow */
        50% { color     : rgb(0, 255, 0); }     /* Green */
        66.67% { color  : rgb(0, 0, 255); }   /* Blue */
        83.33% { color  : rgb(75, 0, 130); }   /* Indigo */
        100% { color    : rgb(143, 0, 255); }  /* Violet */
    }

    #loading {
        margin-top      : 20px;
    }
    #site {
    	position           : relative;
	    top                    : 0px;
	    left                   : 0px;
    }
    #different_time {
        position        : absolute;
	    top                    : 0px;
	    left                   : 0px;
    }
    #meal_prediction {
	position               : absolute;
	top                    : 200px;
	left                   : 0px;
    }
    #images {
	position               : absolute;
	top                    : 450px;
	left                   : 0px;
    }
    #thanks {
	position               : absolute;
	top                    : 750px;
	left                   : 0px;
    }
    #time_suggestion {
	display                : flex;
	flex-wrap              : wrap;
	gap                    : 8px;
    }